@charset "utf-8";
@import "../../scss/variables.scss";
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 900px;
}

.reserve_title {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.reserve_detail {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: bold;

  .left {
    text-align: center;
    border: 1px solid black;
    width: 276px;
  }

  .mid {
    text-align: center;

    border: 1px solid black;
    width: 279px;
  }

  .right {
    text-align: center;

    border: 1px solid black;
    width: 345px;
  }
}
