@charset "utf-8";
@import "../scss/variables.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title_box {
  border: 1px solid #d9d9d9;
  width: 1000px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .choose_date {
    button {
      width: 70px;
      height: 30px;
      font-size: 16px;
      font-weight: bold;
      background-color: white;
    }
    .active_btn {
      border: 1px solid #1273e4;
      color: #1273e4;
    }
    .default_btn {
      border: 1px solid black;
    }
  }
  .day_wrapper {
    display: flex;
    button {
      width: 170px;
      height: 30px;
      background-color: white;
    }
    .check_btn {
      margin-left: 10px;
      width: 70px;
      height: 30px;
    }
  }
}
.calendar_wrapper {
  display: flex;
  width: 700px;
}

.table_form {
  margin-top: 10px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d9d9d9;
}

.table_title {
  display: flex;
}

.block_table {
  display: flex;
  border: #d9d9d9 1px solid;
}
.block_day {
  width: 135px;
  border-right: 1px solid #d9d9d9;
}
.block_restaurant {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 765px;
  button {
    margin-left: 30px;
    width: 75px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
  }
}
