@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray-100: rgba(0, 0, 0, 0.9);
  --color-black: #000;
  --color-red-100: #ff3114;
}
